{% extends 'base.html' %}

{% block title %}
Contact
{% endblock title %}
 
{% block body %}

<div class="container d-flex align-items-center justify-content-center">
    <form class="shadow-lg p-4" style="width: 500px;" action="submit_form.php" method="post">
        <h2 class="mb-4 text-center">Contact Us</h2>
        <div class="mb-3">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Message:</label>
            <textarea class="form-control" id="message" name="message" rows="4"></textarea>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

{% endblock body %}
