{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block body %}
<div class="container d-flex align-items-center justify-content-center ">
  <form class="shadow-lg p-4" style="width: 500px;" method="post">
    {% csrf_token %}
    <h1 class="mb-4 text-center">Create</h1>
    <div class="mb-3">
      <label for="id" class="form-label"><b>ID</b></label>
      <input type="text" class="form-control" id="id" placeholder="Enter ID" name="id" required>
    </div>
    <div class="mb-3">
      <label for="fname" class="form-label"><b>First Name</b></label>
      <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname" required>
    </div>
    <div class="mb-3">
      <label for="lname" class="form-label"><b>Last Name</b></label>
      <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname" required>
    </div>
    <div class="mb-3">
      <label for="age" class="form-label"><b>Age</b></label>
      <input type="text" class="form-control" id="age" placeholder="Enter Age" name="age" required>
    </div>
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-success">Create</button>
    </div>
  </form>
</div>
{% endblock body %}
